/* Table of contents ––––––––––––––––––––––––––––––––––––––––––––––––––
Taken from https://codepen.io/chriddyp/pen/bWLwgP.css
- Grid
- Base Styles
 - Typography
 - Links
 - Buttons
 - Forms
 - Lists
 - Code
 - Tables
 - Spacing
 - Utilities
 - Clearing
 - Media Queries
 - Custom App CSS */

/* Blockquotes –––––––––––––––––––––––––––––––––––––––––––––––––– */
blockquote {
    border-left: 4px lightgrey solid;
    padding-left: 1rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
    margin-left: 0rem;
}

/* Links –––––––––––––––––––––––––––––––––––––––––––––––––– */
a {
    color: #1EAEDB;
    text-decoration: underline;
    cursor: pointer;
}
a:hover {
    color: #0FA0CE;
}

/* Custom App CSS Below --------------------------------- */
html, body {
    height: 100%;
}
body {
    background-color: #FAF9F6; /* Set background color to black */
    height: 100%;
    margin: 0;
    padding: 0;
}
.react-entry-point {
    height: 100%;
    background-color: #FAF9F6; /* Set background color to black */
}
a {
    text-decoration: none;
}
.bg-grey {
    background-color: #31302F;
}
.text-padding {
    padding: 5px;
}